@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

     /* Fundo-Tela */

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    color: white;
    font-family: 'lato', sans-serif;
}

body {
    background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url(./imagem/img5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-position-y: 0px;
}

     /* Menu-Header-NavBar */

header {
    width: 100%;
    height: 100%;
    background-color: rgba(22, 22, 22, 0.2);
}

.menu-content {
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;       
}

.logo {    
    font-size: 1.8rem;
    letter-spacing: 0.4rem;     
}

.list-itens {
    display: flex;
    flex-direction: column;
    align-items: center;    
    
    list-style: none;
    cursor: pointer;   
    margin-top: 10px; 
    font-size: 1.9rem;    
}

.list-itens > li {
    padding: 8px;
}

.list-itens a {
    text-decoration: none;
    color: white;
    transform: 2ms ease-in;
    position: relative;      
}

.menu-content .list-itens a::before {
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: rgb(251, 255, 0);
    transition: all 1.5s ease;
}

.menu-content .list-itens a:hover::before {
    width: 100%;
}

   /* Centro - Conteudo Principal */

main {
    display: block;
    text-align: center;    
}

.main-content {
    margin-top: 7%;
}

.primary-text {
    display: block;
    
    width: 500px;
    font-size: 3.5rem;
    margin: 0 auto;
    padding: 15px;   
 }

 .second-text {
    margin-bottom: 7rem;
    font-size: 2rem;
    color: rgb(165, 165, 165);
    text-transform: uppercase;
 }

 .btns {
    display: flex;
    justify-content: center;
    gap: 20px;
 }

 .btns button {
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
 }

 .btns button:before {
    content: ' ';
    border-radius: 20px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    width: 0;
    height: 60px;
    background-color: rgb(61, 61, 61);
    z-index: -1;
    transition: 1s;
 }

 .btns button:hover:before {
    width: 100%;
}

